body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-size: 115%;
  color: white;
  font-family: 'Inter', sans-serif;
}

#titulo {
  font-size: 70px;
  font-weight:900;
  color: #C4DC65;
  padding-left: 120px;
  margin-bottom: -8px;
}

#linha {
  background-color: #C4DC65;
  width: 640px;
  height: 2px;
  margin-left: 120px;
  margin-bottom: 50px;
}

.conteudo {
  height: fit-content;
  width: 830px;
  margin-left: 20px;
}

h2 {
  font-size: 25px;
}

li {
  font-size: 28px;
}