body {
  display: block;
  margin: 0;
  padding: 0;
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-size: 115%;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

#titulo {
  font-size: 50px;
  font-weight:900;
  color: #C4DC65;
  padding-left: 120px;
  margin-bottom: -8px;
}

#linha {
  margin-top: 10px;
  background-color: #C4DC65;
  width: 450px;
  height: 2px;
  margin-left: 120px;
  margin-bottom: 50px;
}
main{
  margin: 10px;
}
.conteudo {
  height: fit-content;
  width: 840px;
  margin: 20px;
}

.h2 {
  font-size: 25px;
}

.conteudo p {
  font-size: 28px;
}