body {
  margin: 0;
  padding: 0;
  background-image: url('assets/background.jpg');
  color: white;
  display: flex;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.btnStyle{
  background-color: #395D05;
  height: 30px;
  width: 90px;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

a {
  display: flex;
  margin: 10px;
  height: 30px;
}

.btnStyle:hover{
  background-color: white;
  color: #395D05;
  border: 1px solid #000;
  transition: 0.4s;
}


#titulo {
  font-size: 50px;
  font-weight:900;
  color: #C4DC65;
  padding-left: 245px;
  margin-bottom: -8px;
}

#linha {
  margin-top: 10px;
  background-color: #C4DC65;
  width: 355px;
  height: 2px;
  margin-left: 245px;
  margin-bottom: 50px;
}
.conteudo {
  height: fit-content;
  width: 840px;
  margin: 20px;
  font-size: 30px;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}