*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}
body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;

}

nav{
    height: 75px;
    width: 100%;
    background-color: #506C3B;
}

nav ul{
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #fff;
    transition: 0.4s;
}

nav a:hover{
    color: #395D05;
    transition: 0.4s;
}

.btnStyle{
    background-color: #395D05;
    height: 30px;
    width: 90px;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.btnStyle:hover{
    background-color: white;
    color: #395D05;
    border: 1px solid #000;
    transition: 0.4s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;

}

header {
    width: 100%;
    height: 100%;
}

.imgHome{
    background-image: url('./assets/foto-home.png');
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
}

.imgHome h1 {
    padding-top: 100px;
    font-size: 80px;
    padding-left: 50px;

}
.imgHome p {
    padding-left: 50px;

    padding-top: 40px;

    font-size: 38px;
}

.imgHome h1 p{
    padding-left: 50px;
}
.articleQuemSomos {
    display: flex;
    height: 550px;
    background-color: #F5E5B9;
}

.articlefun{
    display: flex;
    height: 550px;
    align-items: center;
    justify-content: space-around;
}

.articleTextoFun{
    color: #fff;
    width: 50%;


}
.articleTextoFun h1{
    font-size: 70px;
    margin-bottom: 40px;
}
.articleTextoFun p{
    font-size: 24px;
    margin-bottom: 40px;
}


/* .articleImgSoja, .articleTexto{
    border: solid 5px red;

} */
.articleTexto{
    margin-left: 80px;
}

.articleTexto h1{
    font-size: 70px;
    padding-bottom: 60px;
    padding-top: 80px;
}
.articleTexto p{
    font-size: 38px;
    padding-bottom: 40px;
}

.articleTexto .btnStyle{
    width: 225px;
    height: 60px;
    border-radius: 2px;
    margin-left: 480px;
}

.articlefun {
    background-image: url('./assets/campo.jpg');
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.articlefun .btnStyle{
    border-radius: 2px;
    width: 170px;
    height: 55px;
}